.oxmod-oxm-preface {
  /* CSS */
  height: 100%;
  width: 100%;
  position: fixed;
}
.oxmod-oxm-preface img {
  height: 100%;
  width: 100%;
}
.oxmod-oxm-preface .btn-x {
  z-index: 101;
  position: fixed;
  top: 1%;
  right: 1%;
  background-color: rgba(100, 100, 100, 0.2);
  border: solid 1px #ccc;
  outline: none;
  color: #f60;
}
